.container {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 50;
  color: var(--white10);
  background-image: linear-gradient(to bottom, var(--gradient-stops));
  --gradient-from: var(--black);
  --gradient-stops: var(--gradient-from), var(--gradient-to, rgba(0, 0, 0, 0));
}

.wrapper {
  padding: 1.25rem 1rem;
  display: flex;
}

.logoLink {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--white10);
}

.logoWrapper {
  width: 8rem;
  color: var(--red);
}

.navItems {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: 1.5rem;
  line-height: 1.25rem;
  list-style: none;
  font-size: 0.875 rem;
  font-size: 1rem;
}

.navItem {
  font-size: 1rem;
  font-weight: 600;
  margin-right: 0.75rem;
  cursor: pointer;
}

.navItem2 {
  cursor: pointer;
}

.navBar {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
}

.button {
  display: flex;
  align-items: center;
  overflow: hidden;
  color: var(--white);
}

.username {
  font-size: 1rem;
}

.navDropdown {
  position: absolute;
  margin-left: auto;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: var(--blue);
  color: var(--white);
  background-color: var(--black50);
  box-shadow: var(--shadow30, 0 0 #0000), var(--ring-shadow, 0 0 #000),
    var(--shadow30);
}

.linkName {
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.linkName:hover {
  text-decoration: underline;
}

.lineWrapper {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .logoLink {
    margin-bottom: 0px;
  }

  .navItems {
    margin-left: 3rem;
  }

  .navItem {
    margin-right: 1.25rem;
  }
}
